<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <title>Details</title>
    <link rel="stylesheet" href="{% static 'ad_detail_style.css' %}">

</head>
<body>
<div style="width: 400px; height: 40px">
        <canvas id="myChart" width="10" height="10"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "chart" advertisement.symbol.name %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
                ctx.beginPath();
                ctx.fillStyle = "#000";//or whatever color
                ctx.arc(0,0,20,0,Math.PI*2); //maybe too big for you, but you get the point
                ctx.fill();
            });


        </script>
</div>
<table style="top: 700px; height: 400px">
    <tr>
        <td colspan="2">
            <div class="label"><strong>{{ advertisement.title }}</strong></div>
        </td>
    </tr>
    <tr>
        <td class="description-td">
            <div class="label">Signaler</div>
            :
            <div class="call">{{ advertisement.user_id }}</div>
            <br>
            <div class="label">Symbol</div>
            :
            <div class="city">{{ advertisement.symbol }}</div>
            <br>
            <div class="label">Return</div>
            :
            <div class="city">{{ advertisement.expected_return }}</div>
            <br>
            <div class="label">Risk</div>
            :
            <div class="city">{{ advertisement.expected_risk }}</div>
            <br>
            <p>From {{ advertisement.start_date }} to {{ advertisement.close_date }}</p>
        </td>
    </tr>
</table>

</body>
</html>