{% extends 'dashboard.html' %}
{% load static %}

{% block title %}
    Adding Expert
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}?v=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block content %}
    <div style="text-align: -webkit-center" class="grid">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 col-sm-8 offset-xs-1 offset-md-2 offset-lg-2 offset-sm-2 the-box
                list-group table-of-contents" style="margin-top: 10px; padding: 3px">
                <div style="display: flex; justify-content: space-between; flex-direction: column">
                    <p style="float: right; margin: auto 10px; font-size: 20px; font-weight: bold;">{{ advertisement.title }}</p>
                    <p style="float: right; margin: auto 10px; font-size: 15px; font-weight: bold;">
                        Symbol: {{ advertisement.symbol }}</p>
                    <p style="float: right; margin: auto 10px; font-size: 15px; font-weight: bold;">
                        Expert: {{ advertisement.user_id }}</p>
                    <p style="float: right; margin: auto 10px; font-size: 18px; font-weight: bold; color: goldenrod">
                        Expert Score: {{ advertisement.expert.score }}</p>
                    <p style="float: right; margin: auto 10px; font-size: 15px; font-weight: bold; color: green">
                        Expected Return: {{ advertisement.expected_return }}</p>
                    <p style="float: right; margin: auto 10px; font-size: 15px; font-weight: bold; color: red">
                        Stop Loss: {{ advertisement.expected_risk }}</p>
                    <p style="float: right; margin: auto 10px; font-size: 15px; font-weight: bold">
                        {% if advertisement.start_date %}
                            {{ advertisement.start_date }}
                        {% endif %}
                        {% if advertisement.close_date %}
                            to {{ advertisement.close_date }}
                        {% endif %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 col-sm-8 offset-xs-1 offset-md-2 offset-lg-2 offset-sm-2 the-box
                list-group table-of-contents">
                <canvas id="myChart" width="10" height="10"></canvas>

                <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.js"></script>
                <script type="text/javascript">
                    $.get('{% url "chart" advertisement.id %}', function (data) {
                        function is_successful(signal_arr) {
                            let ind = 0;
                            let start_value = 0;
                            let close_value = 0;
                            while (ind < signal_arr.length) {
                                if (signal_arr[ind]) {
                                    start_value = signal_arr[ind];
                                    break
                                }
                                ind += 1;
                            }
                            ind = signal_arr.length;
                            while (ind >= 0) {
                                if (signal_arr[ind]) {
                                    close_value = signal_arr[ind];
                                    break
                                }
                                ind -= 1;
                            }
                            return close_value > start_value
                        }
                        let ctx = $("#myChart").get(0).getContext("2d");
                        let l = data.datasets.length;
                        data.datasets[0]['borderColor'] = "#349c1a";
                        data.datasets[0]['pointBackgroundColor'] = "#3dc11a";
                        data.datasets[0]['pointBorderColor'] = "#3dc11a";
                        data.datasets[0]['backgroundColor'] = "rgba(61,193,26,0)";
                        data.datasets[1]['pointBorderColor'] = "#830800";
                        data.datasets[1]['backgroundColor'] = "rgba(61,193,26,0)";
                        data.datasets[2]['borderColor'] = "#0076ff";
                        data.datasets[2]['pointRadius'] = 1.5;
                        data.datasets[2]['pointBackgroundColor'] = "#0076ff";
                        data.datasets[2]['pointBorderColor'] = "#0076ff";
                        data.datasets[2]['backgroundColor'] = "rgba(0,50,240,0.4)";
                        var i = 3;
                        while (i < l-1) {
                            data.datasets[i]['backgroundColor'] = "rgba(238,240,0,0.34)";
                            var success_color = "#b2bb00";
                            if(is_successful(data.datasets[i].data)) {
                                success_color = "#257a0f";
                                data.datasets[i]['backgroundColor'] = "rgba(61,193,26,0.41)"; }
                            else {
                                success_color = "#830800";
                                data.datasets[i]['backgroundColor'] = "rgba(202,10,0,0.34)"; }
                            data.datasets[i]['borderColor'] = success_color;
                            data.datasets[i]['pointRadius'] = 1.5;
                            data.datasets[i]['pointBackgroundColor'] = success_color;
                            data.datasets[i]['pointBorderColor'] = success_color;

                            i += 1;
                        }
                        data.datasets[l-1]['borderColor'] = "#434343";
                        data.datasets[l-1]['pointRadius'] = 1.5;
                        data.datasets[l-1]['pointBackgroundColor'] = "#434343";
                        data.datasets[l-1]['pointBorderColor'] = "#434343";
                        data.datasets[l-1]['backgroundColor'] = "rgba(75,75,75,0.5)";
                        new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: {
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        distribution: 'linear',
                                        unit: 'day',
                                        bounds: 'data',
                                        ticks: {maxRotation: 0}
                                    }]
                                },
                                pan: {
                                    enabled: true,
                                    mode: "x",
                                    speed: 10,
                                    threshold: 10
                                },
                                zoom: {
                                    enabled: true,
                                    drag: false,
                                    mode: "x",
                                    limits: {
                                        max: 10,
                                        min: 0.5
                                    }
                                },
                                legend: {
                                    labels: {
                                        filter: function (item, chart) {
                                            // Logic to remove a particular legend item goes here
                                            return !item.text.includes('Other');
                                        }
                                    }
                                },
                                title: {
                                    display: true,
                                    text: '{{advertisement.symbol.name}}'
                                }
                            },
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}