<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>Dashboard</title>
    <link rel="stylesheet"
          type="text/css"
          href="../static/dashboard_style.css"/>
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body class="bckg_right">

<span class="bckg"></span>
<header>
    <h1>Dashboard</h1>
    <nav>
        <ul>
            <li>
                <a href="javascript:void(0);" data-title="Profile">My Profile</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/add_signal" data-title="Submit">Submit Signals</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/search" data-title="Search">Search Signals</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/add_expert" data-title="AddExpert">Add Expert</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/symbols" data-title="Symbols">Symbols</a>
            </li>
            <li>
                <a href="javascript:void(0);" data-title="Settings">Settings</a>
            </li>
            <li>
                <a href="{% url 'logout' %}" data-title="Logout">Logout</a>
            </li>

        </ul>
    </nav>
</header>
<main>
    <div class="title">
        <h2>My Profile</h2>
        <a href="javascript:void(0);">Hello {{ request.user.username }}!</a>
    </div>
</main>

</body>
</html>