{% extends 'dashboard.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 col-sm-8 offset-xs-1 offset-md-2 offset-lg-2 offset-sm-2 the-box
                    list-group table-of-contents" style="margin-top: 30px">
                {% for ad in ads %}
                    <div class="list-group-item" onclick="">
                        <div style="display: flex; justify-content: space-between">
                            <div style="float: left; flex-grow: 1" class="search-res">
                                <h3 style="text-align: right; "><a style="color: black; font-size: x-large" href={% url 'advertisement_detail' ad.id %}>{{ ad.title }}</a></h3>
                                <h6><a style="color: black" href={% url 'expert_page' ad.user_id %}>expert: {{ ad.user_id }}</a</h6>
                                <h6>symbol: {{ ad.symbol }}</h6>
                                <h6><a href={% url 'advertisement_detail' ad.id %}>See more</a></h6>
                            </div>
                            <p style="float: right; margin: auto 10px; font-size: 25px; font-weight: bold; color: green">{{ ad.expected_return }}</p>
                            <p style="float: right; margin: auto 10px; font-size: 25px; font-weight: bold; color: red">{{ ad.expected_risk }}</p>
                        </div>
                        <p style="float: right; margin: auto 10px; font-size: 15px; font-weight: bold">
                            {% if ad.start_date %}
                                {{ ad.start_date }}
                            {% endif %}
                            {% if ad.close_date %}
                                to {{ ad.close_date }}
                            {% endif %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}