<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

        <title>Fox Assistant | Symbol Details</title>
        <link rel="stylesheet" href="{% static 'ad_detail_style.css' %}">

    </head>

    <body style="text-align: -webkit-center">
        <h2 style="text-align: center; color: black">{{ symbol.name }}</h2>
        <div style="width: 700px; height: 30px;">
            <canvas id="myChart" width="10" height="10"></canvas>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "symbol_chart" symbol.name %}', function (data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: data.datasets[0].label,
                                data: data.datasets[0].data,
                                borderColor: "#434343",
                                pointRadius: 1.5
                            }]
                        }
                    });
                });
            </script>
        </div>
    </body>
</html>