{% extends 'dashboard.html' %}
{% load static %}

{% block title %}
    Adding Expert
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}?v=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block content %}
    <div style="text-align: -webkit-center" class="grid">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 col-sm-8 offset-xs-1 offset-md-2 offset-lg-2 offset-sm-2 the-box
                list-group table-of-contents" style="margin-top: 30px">
                <p style="font-size: 36px; font-weight: bold;text-align: center; color: black">{{ symbol.name }}</p>
                <canvas id="myChart" width="10" height="10"></canvas>

                <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.js"></script>
                <script type="text/javascript">
                    $.get('{% url "symbol_chart" symbol.name %}', function (data) {
                        var ctx = $("#myChart").get(0).getContext("2d");
                        data.datasets[0]['borderColor'] = "#434343";
                        data.datasets[0]['pointRadius'] = 1.5;
                        data.datasets[0]['pointBackgroundColor'] = "#434343";
                        data.datasets[0]['pointBorderColor'] = "#434343";
                        data.datasets[0]['backgroundColor'] = "rgba(75,75,75,0.5)";
                        new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: {
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        distribution: 'linear',
                                        unit: 'day',
                                        bounds: 'data',
                                        ticks: {maxRotation: 0}
                                    }]
                                },
                                pan: {
                                    enabled: true,
                                    mode: "x",
                                    speed: 10,
                                    threshold: 10
                                },
                                zoom: {
                                    enabled: true,
                                    drag: false,
                                    mode: "x",
                                    limits: {
                                        max: 10,
                                        min: 0.5
                                    }
                                },
                                legend: {
                                    display: false
                                }
                            },
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}