<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>Fox Assistant | {% block title %} Dashboard {% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'dashboard_style.css' %}">

</head>
<body class="bckg_right" style="padding-top: 0">

<span class="bckg"></span>
<header style="position: sticky; top: 0">
    <h1>Dashboard</h1>
    <nav>
        <ul>
            <li>
                <a href="http://127.0.0.1:8000/signal/profile" data-title="Profile">My Profile</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/add_signal" data-title="Submit">Submit Signals</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/search" data-title="Search">Search Signals</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/add_expert" data-title="AddExpert">Add Expert</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/symbols" data-title="Symbols">Symbols</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/signal/expert_aggregation" data-title="ExpertAggregation">Expert Aggr.</a>
            </li>
            <li>
                <a href="{% url 'logout' %}" data-title="Logout">Logout</a>
            </li>

        </ul>
    </nav>
</header>
<main>
    <div class="title" style="position: sticky; top: 0; z-index: 5">
        <h2></h2>
        <a href="javascript:void(0);">Hello {{ request.user.username }}!</a>
    </div>
<br>
{% block content %}
{% endblock %}
</main>
</body>
</html>